.todo-item {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

.todo-item input[type="checkbox"] {
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    outline: none;
}

.todo-item input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    color: #ccc;
}

.todo-item label {
    font-size: 18px;
    color: #333;
}

.delete-btn {
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #999;
    margin-left: auto;
    cursor: pointer;
}

.delete-btn:hover {
    color: #f44336;
}